<% layout('layouts/boilerplate') %>

<h1>Hotéis</h1>
<div>
    <a href="/hotels/new">New Hotel</a>
</div>
<ul>
    <% for(const hotel of hotels){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="<%= hotel.image %> ">
            </div>
            <div class="col-md-8">
                <div class="class-body">
                    <h5 class="class-title"><%= hotel.name %> </h5>
                    <p class="card-text">
                        <%= hotel.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><%=hotel.location %>
                        </small>
                    </p>
                    <a class="btn btn-primary" href="/hotels/<%= hotel._id %> ">
                        Ver Hotel
                    </a>
                    <div></div>

                </div>
            </div>
        </div>
    </div>
    <% } %>
</ul>