<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6">
        <main class="card mb-3">
            <img src="<%= hotel.image %>" class="card-img-top" alt="...">
            <section class="card-body">
                <h5 class="card-title"><%= hotel.name %></h5>
                <p class="card-text">
                    <%= hotel.description %>
                </p>
            </section>
            <section class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= hotel.location %></li>
                <li class="list-group-item">Enviado por <%= hotel.user.fullName %></li>
                <li class="list-group-item"> R$<%= hotel.price.toFixed(2) %> por noite</li>
            </section>
            <% if(sessionUser && hotel.user.equals(sessionUser._id)){ %>
            <section class="card-body">
                <a class="btn btn-info" href="/hotels/<%= hotel._id %>/edit">Editar</a>
                <form class="d-inline" action="/hotels/<%= hotel._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Excluir</button>
                </form>
            </section>
            <% } %>
        </main>
    </div>
    <div class="col-6">
        <% if(sessionUser){ %>
        <form class="mb-3 validated-form" action="/hotels/<%= hotel._id %>/reviews" method="POST" novalidate>
            <h2>Avalie esse hotel</h2>
            <div class="mb-3">
                <label class="form-label" for="rating">Nota</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="text">Texto</label>
                <textarea class="form-control" name="review[text]" id="text" rows="3" required></textarea>
                <div class="invalid-feedback">Texto é obrigatório</div>
            </div>
            <button class="btn btn-success">Enviar</button>
        </form>
        <% } %>
        <h2>Avaliações</h2>
        <% for(let review of hotel.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"> <%= review.rating %> / 5 </h5>
                <h6 class="card-subtitle mb-2 text-muted">por <%= review.user?.fullName %></h6>
                <p class="card-text"> <%= review.text %> </p>
                <% if(sessionUser && review.user?.equals(sessionUser._id)){ %>
                <form action="/hotels/<%= hotel.id %>/reviews/<%= review.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Excluir</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>